h2 {
  color: slategrey;
}
body {
  font-size: 00.95em;
  background-color: linen;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.inner-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.75em;
  padding: 0.35em;
  width: 27%;
  color: rgb(0, 195, 255);
  -webkit-transition: color 0.9s ease-in-out;
  transition: color 0.9s ease-in-out;
  background-color: gray;
  border: 1px solid;
}

.form {
  background-color: lightyellow;
  margin: auto;
  border: 1px solid black;
  padding: 10px 100px;
  border-radius: 20px;
  margin-top: 100px;
}
button:hover {
  color: olive;
}

img {
  margin: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fd7473;
  color: white;
  text-align: center;
}

.btn {
  margin-top: 10px;
  margin-left: 35px;
}
