body {
  font-family: "proxima-nova", sans-serif;
  background-color: #f5dcdc;
}

.border {
  height: 6px;
  border: 0;
  background-color: #fd7473;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fd7473),
    color-stop(25%, #fd7473),
    color-stop(25%, #fec951),
    color-stop(50%, #fec951),
    color-stop(50%, #47b8e0),
    color-stop(75%, #47b8e0),
    color-stop(75%, #47b8e0),
    to(highlight_4)
  );
  background-image: linear-gradient(
    to right,
    #fd7473,
    #fd7473 25%,
    highlight_2 25%,
    highlight_2 50%,
    highlight_3 50%,
    highlight_3 75%,
    highlight_4 75%,
    highlight_4 100%
  );
  -webkit-background-size: 50% 100%;
  -moz-background-size: 50% 100%;
  -background-size: 50% 100%;
  -size: 50% 100%;
}

.wrapper {
  width: 750px;
  max-width: 90%;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.main-header {
  margin: 5em 0 3em 0;
}

.logo img {
  width: 60px;
  float: left;
  padding: 10px;
}

.logo h1 {
  float: left;
  margin: 0 0 0 0.5em;
  text-transform: uppercase;
  font-size: 1.35em;
  padding-top: 1.1em;
  color: #34314c;
}

.logo span {
  font-weight: 400;
}

.nav {
  float: right;
  padding-top: 1.75em;
}

.nav a {
  color: #9592ad;

  margin-left: 1mm;
  text-decoration: none;
}

.nav .current {
  font-weight: 700;
  color: #34314c;
}

#timeline {
  width: 100%;
  position: relative;
  list-style: none;
  padding: 0;
}

#timeline a {
  text-decoration: none;
}

#timeline .listing {
  background: #ffffff;
  border: 1px solid #d9d339;
  border-radius: 0.3em;
  padding: 1em;
  margin-bottom: 1em;
  margin-left: 15%;
  position: relative;
  z-index: 1;
  display: table;
  width: 70%;
  align-items: center;
}

#timeline .listing img,
.info,
.job_type {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.9em;
  color: #9592ad;
}

#timeline .image_wrapper {
  width: 60px;
}

#timeline .image_wrapper img {
  width: 60px;
  display: block;
  margin: 0 auto;
  border-radius: 0.25em;
}

#timeline .info {
  line-height: 1.25;
  width: 640px;
  padding-left: 25px;
}

#timeline .info .job_title {
  font-weight: 700;
  color: #34314c;
  font-size: 1.5em;
} /*# sourceMappingURL=style.css.map */

#timeline .info .job_info {
  color: #9592ad;
  display: block;
}

#timeline .info .job_info span {
  margin: 0.75em;
}

#timeline ::after {
  content: " ";
  width: 1px;
  background: 1px #d9d339;
  height: 90%;
  position: absolute;
  top: 5.5em;
  left: 3em;
  z-index: 0;
}

.load_more {
  text-align: center;
  list-style: none;
}

.load_more .button {
  border: 2px solid #9f68d0;
  outline: none;
  padding: 1em 3.5em;
  border-radius: 3em;
  color: #9f68d0;
  text-align: center;
  background: transparent;
}
transition: all 0.3s ease-in-out;
&:hover {
  cursor: pointer;
  box-shadow: 0px 2px 40px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 800px) {
  .nav a:not(:first-child) {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .nav.responsive {
    position: relative;
  }
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
